<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-md-7">
          <form>
              <div class="form-group">
                <label for="exampleInputaddress">区域选择</label>
                <ngx-address [(ngModel)]="code" name="address" [options]="opt" (onSelected)="onCustomSelected($event)"></ngx-address>
              </div>
              <div class="form-group">
                <label for="exampleInputpingying">拼音代码</label>
                <input type="text" [(ngModel)]="pystr" required pattern="[a-zA-Z]*"
                  name="exampleInputpingying" class="form-control" id="exampleInputpingying" aria-describedby="pingyingHelp" placeholder="拼音首字母"
                  #exampleInputpingying="ngModel">
                <small *ngIf="exampleInputpingying.invalid && (exampleInputpingying.dirty || exampleInputpingying.touched)" id="pingyingHelp" class="form-text text-danger">拼音代码只可为英文字母且不可为空</small>
              </div>
              <div class="form-group">
                <label for="exampleInputip">网关IP</label>
                <input type="text" [(ngModel)]="ipstr" required pattern="[0-9\.]*"
                  name="exampleInputip" class="form-control" id="exampleInputip" aria-describedby="ipHelp" placeholder="xx.xx.xx.xx"
                  #exampleInputip="ngModel">
                <small *ngIf="exampleInputip.invalid && (exampleInputip.dirty || exampleInputip.touched)" id="ipHelp" class="form-text text-danger">网关IP只可为 数字和"." 不可为空</small>
              </div>
              <p *ngIf="isError" id="registry" class="form-text text-danger">{{errorMsg}}</p>
              <!-- <button type="button" class="btn btn-info mr-2">预览</button> -->
              <button (click)="registry()" [disabled]="!code || !pystr || !ipstr || loading" type="button" class="btn btn-primary">注册</button>
            </form>
      </div>
      <div class="col-md-5">  
        <div class="text-center" style="min-height: 180px;">
            <ngx-qrcode 
              [qrc-element-type]="elementType" 
              [qrc-value] = "value"
              qrc-class = "aclass"
              qrc-errorCorrectionLevel = "L">
            </ngx-qrcode>
        </div>
        <div class="form-group">
          <span class="form-control">{{code}}{{pystr}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
